# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Git
.git/
.gitignore

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# OneDrive / Windows junk
desktop.ini
*.lnk

# Everything not needed
*.log
